.hello:link {
    color: aquamarine;
}

.hello:hover {
    color: green;
    font-family: arial;
    font-size: 20px;
}

.hello:active {
    font-style: italic;
}

li:nth-child(even) a {
    color: black;
}

li:nth-child(even) a:hover {
    color: red;
}

p:first-of-type {
    color: aqua;
}

p:last-of-type {
    color: brown;
}