body {
    background-color: white;
    background-image: url(gambar/c7ef9ba3-ce7f-4b32-ac3c-d1cdd5e22545.jfif);
    background-repeat: no-repeat;
    background-position: top center;
}
p {
    text-align: left;
}